* {
	box-sizing: border-box;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Poppins, sans-serif;
	font-size: 16px;
	line-height: 1;
}

body {
	color: #4455ff;;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: none;
	border-radius: 5px;
}

input:disabled {
	color: #ccc;
}

button {
	background: #4455ff;
	color: #111833;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 0.25rem 2rem;
	transition: all 200ms;
}

button:hover {
	transform: translateY(-10%);
	background: #7e89ff;
}

button:disabled {
	background: #999;
}

button:not(:disabled):active {
	transform: translateY(0);
	transition: all 5ms;
}

button:focus {
}

button .icon {
	margin-left: 0.5rem;
}

.icon {
	height: 1em;
	vertical-align: -0.1em;
}